In [243]:
import pandas as pd
import numpy as np

In [244]:
movies=pd.read_csv('movie_data.csv')
movies.drop(columns=['Unnamed: 0'],inplace=True)

### Making the overview column from string to list of words

In [245]:
movies['overview']=movies['overview'].apply(lambda x: x.split(" "))
movies

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['culture clash', 'future', 'space war', 'spac...","[In, the, 22nd, century,, a, paraplegic, Marin...","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",['James Cameron']
1,285,Pirates of the Caribbean: At World's End,"['Adventure', 'Fantasy', 'Action']","['ocean', 'drug abuse', 'exotic island', 'east...","[Captain, Barbossa,, long, believed, to, be, d...","['Johnny Depp', 'Orlando Bloom', 'Keira Knight...",['Gore Verbinski']
2,206647,Spectre,"['Action', 'Adventure', 'Crime']","['spy', 'based on novel', 'secret agent', 'seq...","[A, cryptic, message, from, Bond’s, past, send...","['Daniel Craig', 'Christoph Waltz', 'Léa Seydo...",['Sam Mendes']
3,49026,The Dark Knight Rises,"['Action', 'Crime', 'Drama', 'Thriller']","['dc comics', 'crime fighter', 'terrorist', 's...","[Following, the, death, of, District, Attorney...","['Christian Bale', 'Michael Caine', 'Gary Oldm...",['Christopher Nolan']
4,49529,John Carter,"['Action', 'Adventure', 'Science Fiction']","['based on novel', 'mars', 'medallion', 'space...","[John, Carter, is, a, war-weary,, former, mili...","['Taylor Kitsch', 'Lynn Collins', 'Samantha Mo...",['Andrew Stanton']
...,...,...,...,...,...,...,...
4801,9367,El Mariachi,"['Action', 'Crime', 'Thriller']","['united states–mexico barrier', 'legs', 'arms...","[El, Mariachi, just, wants, to, play, his, gui...","['Carlos Gallardo', 'Jaime de Hoyos', 'Peter M...",['Robert Rodriguez']
4802,72766,Newlyweds,"['Comedy', 'Romance']",[],"[A, newlywed, couple's, honeymoon, is, upended...","['Edward Burns', 'Kerry Bishé', 'Marsha Dietle...",['Edward Burns']
4803,231617,"Signed, Sealed, Delivered","['Comedy', 'Drama', 'Romance', 'TV Movie']","['date', 'love at first sight', 'narration', '...","[""Signed,, Sealed,, Delivered"", introduces, a,...","['Eric Mabius', 'Kristin Booth', 'Crystal Lowe']",['Scott Smith']
4804,126186,Shanghai Calling,[],[],"[When, ambitious, New, York, attorney, Sam, is...","['Daniel Henney', 'Eliza Coupe', 'Bill Paxton']",['Daniel Hsia']
4805,25975,My Date with Drew,['Documentary'],"['obsession', 'camcorder', 'crush', 'dream girl']","[Ever, since, the, second, grade, when, he, fi...","['Drew Barrymore', 'Brian Herzlinger', 'Corey ...","['Brian Herzlinger', 'Jon Gunn', 'Brett Winn']"

### removing the spaces between the names

In [246]:
def remove_space(name):
    return "".join(str(v) for v in name.split(" "))
import ast

movies['genres']=movies['genres'].apply(lambda x: ast.literal_eval(remove_space(x)))
movies['keywords']=movies['keywords'].apply(lambda x: ast.literal_eval(remove_space(x)))
movies['overview']=movies['overview'].apply(lambda x:  ast.literal_eval(remove_space(str(x))))
movies['cast']=movies['cast'].apply(lambda x: ast.literal_eval(remove_space(x)))
movies['crew']=movies['crew'].apply(lambda x: ast.literal_eval(remove_space(x)))
movies.head(5)

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

### creating a 'tag' column that combines genres, keywords, cast, crew

In [247]:

movies['tag']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']
movies

,id,title,genres,keywords,overview,cast,crew,tag
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...,...,...,...,...,...
4801,9367,El Mariachi,"[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[El, Mariachi, just, wants, to, play, his, gui...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez],"[El, Mariachi, just, wants, to, play, his, gui..."
4802,72766,Newlyweds,"[Comedy, Romance]",[],"[A, newlywed, couple's, honeymoon, is, upended...","[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns],"[A, newlywed, couple's, honeymoon, is, upended..."
4803,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[""Signed,, Sealed,, Delivered"", introduces, a,...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith],"[""Signed,, Sealed,, Delivered"", introduces, a,..."
4804,126186,Shanghai Calling,[],[],"[When, ambitious, New, York, attorney, Sam, is...","[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia],"[When, ambitious, New, York, attorney, Sam, is..."
4805,25975,My Date with Drew,[Documentary],"[obsession, camcorder, crush, dreamgirl]","[Ever, since, the, second, grade, when, he, fi...","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]","[BrianHerzlinger, JonGunn, BrettWinn]","[Ever, since, the, second, grade, when, he, fi..."

In [262]:
new_df=movies[['id','title','tag']]

# converting tag column into string
new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))
new_df.to_csv('clean_data.csv')

C:\Users\Akash\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [249]:
new_df['tag'].iloc[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

### convert the entire paragraph into lowercase

In [250]:
new_df['tag']=new_df['tag'].apply(lambda x: x.lower())
new_df['tag'].iloc[0]

C:\Users\Akash\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [251]:
new_df

,id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4801,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4802,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4803,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4804,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4805,25975,My Date with Drew,ever since the second grade when he first saw ...

### stemming the text to replace similar type of words with root word

In [252]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [253]:
new_df['tag']=new_df['tag'].apply(lambda x: stem(x))
new_df

C:\Users\Akash\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,title,tag
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4801,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4802,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4803,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4804,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4805,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [254]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [255]:
vectors=cv.fit_transform(new_df['tag']).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

### most frequent 5000 words

In [256]:
# cv.get_feature_names()

In [257]:
### Finding the cosine similarities
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)
similarity

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [261]:
def recommend(movie_name):
    indx=movies[movies['title']==movie_name].index[0]
    cos_sim=similarity[indx]
    enum_list=list(enumerate(cos_sim))
    score_list=sorted(enum_list,reverse=True,key=lambda x:x[1])
    score_list=score_list[1:11]

    for i in score_list:
        print(movies['title'].iloc[i[0]])
recommend('Batman v Superman: Dawn of Justice')

Man of Steel
Batman Begins
Thor
Watchmen
Defendor
The Dark Knight
Superman II
Batman Returns
Batman
Superman Returns